body {
			
	background-color: #ffffff;
	font-family: 'Open Sans', 'Trebuchet MS', Helvetica, sans-serif;
    font-weight: 400;
	color: black;
}


h1, h2, h3,h4,h5{
    color:#993333;   
}

h1{
    font-size:1.7em; 
    font-weight:600;
}

h2{
    font-size:1.3em; 
    font-weight:600;
}

h3{
    font-size:1em;
    font-weight:600;
}

h1.title{
    font-size:4em; 
    font-weight:600;
    padding-top:15px;
    margin-bottom:0px;
    text-shadow: 2px 1px 2px #a5a5a5;
}

h1.subtitle{
    font-size:2em; 
    margin-top:0px;
    text-shadow: 2px 1px 2px #a5a5a5;
    font-weight:600;
}

div.content, div.banner {
			margin-left: auto;
    margin-right:auto;
			width: 50%
		}

div.banner{ 
    text-align: center;
    min-height:150px;
    background-repeat: no-repeat;
}

div#banner1{
  background-image: url(../images/bannerNotes2.png);  
}

div#banner2{
  background-image: url(../images/bannerNotes6.png);  
}

div#banner3{
  background-image: url(../images/bannerNotes7.png);  
}

div#banner4{
  background-image: url(../images/bannerNotes8.png);  
}
div#banner5{
  background-image: url(../images/bannerNotes9.png);  
}
div#banner6{
  background-image: url(../images/bannerNotes3.png);  
}

div#banner7{
  background-image: url(../images/bannerNotes5.png);  
}

div#banner8{
  background-image: url(../images/bannerNotes1.png);  
}
div.navigation{
      width:100%
}

div.navigation li a{
  font-family:'Open Sans', 'Trebuchet MS', Helvetica, sans-serif;
    font-weight:400;
    font-size:1.2em;
  color: #993333;
    text-decoration: none;  
    text-transform: lowercase;
  text-shadow: 1px 1px 2px #a5a5a5;
}


div.navigation > ul{
	padding-left: 0px;
	text-align:center;
padding-bottom: 2em;
	}

div.navigation:after{
color:#993333;
content":<hr/>";
}

div.navigation > ul > li {
display:inline; 
}

div.navigation li.active > a {
	text-decoration:underline;
}

div.navigation ul > li:not(:last-of-type):after{
 font-family:'Open Sans', 'Trebuchet MS', Helvetica, sans-serif;
    font-weight:400;
    font-size:1.2em;
  color: #993333;
   
 content:" | ";
} 

p.updated {

	font-family:'Open Sans', 'Trebuchet MS', Helvetica, sans-serif;
    font-size:0.8em;
	color: #993333;
}


ul {
	list-style: none;
}

ul.homepage{
	list-style-type: disc;
}

/*ul.works{
	width: 38em;
}*/

/*ul.links{
	margin-left: 8em;
}*/

a:link {color: #993333;}
a:visited {color: #663333;}

a.breadcrumb{
	text-decoration:underline;
}

img.frontpage {
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: none;
}

img.active {
	border: 1px solid #993333;}

img.nav { /* necessary for IE */
			border: none;
		}		



div#photos{
    text-align:justify;
    
}

div#photos a img{
    margin-top:20px;
    margin-bottom:20px;
    margin-right:20px;
	max-width:250px;
	max-height:230px;
}

table#recordings td{
	vertical-align:text-top;
}
td.piece{
	width:30%;
 	padding:10px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (min-width:600px) and (max-width: 1000px) {
    div.content, div.banner, div.navigation >ul{
        width:70%;   
	margin-left:15%;
        margin-right:15%;
    }
	
h1.title{
    font-size:2.5em; 
}
h1.subtitle{
    font-size:1.9em; 

}

div#photos{
    text-align:center;
    
}

div#photos a img{
	max-width:200px;
}


}

@media screen  and (min-width:200px) and (max-width: 599px){
     div.content, div.banner, div.navigation >ul{
        width:90%;   
	margin-left:5%;
        margin-right:5%;
    }

h1.title{
    font-size:2em; 	
}

h1.subtitle{
    font-size:1.8em; 


}

div#photos{
    text-align:center;
    
}
div#photos a img{
	max-width:200px;
}

ul.works{
	padding-left:15px;
}

ul.works ul{
	padding-left:10px;
}



}

